@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.navLinkHover {
  position: relative;
}

.navLinkHover:after {
  content: "";
  height: 2.5px;
  width: 0%;
  background-color: #ddb057;
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  transition: width 200ms linear;
}

.navLinkHover:hover:after {
  width: 100%;
}

.sub-link {
  height: 0%;
  overflow: hidden;
  transition: all 150ms linear;
}

.navLink:hover .sub-link {
  height: auto;
}

@media screen and (min-width: 1200px) {
  .worship-btn {
    border: 2px solid #ddb057;
  }
  .worship-btn::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddb057;
    z-index: -1;
    transition: all 300ms;
  }

  .worship-btn:hover::after {
    width: 100%;
  }
}

.youtube-container {
  width: 500px;
  height: 200px;
}
